
body{
   
    margin: 0%;
}
.top{
    
    font-size: 30px;
    float: right;
    color: black;
    
    
}

.top-banner{
    
    
   
}
li {
    display: inline;
  }

  h1{
    font-size: 50px;
}

.orange-highlight{

    color: orange;

}

.blue-highlight{

    color: rgb(14, 14, 56);
}



.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
 }
 
 .half-width img{
     width: 80%;
 }

 section{

    
    
}
 .link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.red-highlight{
    color: rgb(255, 38, 0);

}




.about-experiences{

    
    border-radius: 5px;
    height: 80%;
    width: 90%;
    background-color: rgba(134, 130, 130, 0.281);
    text-align: center;


}


.experience-area{

    margin: auto;
}




.single-experiences{

    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 10%;
    width: 20%;
   
    
    background-color: white;


}

.last-banner{

    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 20%;
    width: 60%;
    margin-left: 250px;
    margin-right: 30px;
    margin-top: 250px;
    margin-bottom: 250px;
    

   
    
    background-color: rgb(91, 63, 170);

}


.white-highlight{
 
    float: left;
    margin-left: 10px;
    margin-bottom: 50px;
    color: white;
    

}


#button{
    margin-left: 250px;
}

.circlee{
    background-color: #F8857f;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: inline;
}

.imge{

    
    height: 60px;
    width: 60px;

}


footer {
    text-align: center;
    font-size: 12px;
}





.lastpera{
    display: inline;

    
   
    
    
     

}


