.top{
    
    font-size: 30px;
    float: right;
    color: black;
    margin: auto;
    
}
li {
    display: inline;
  }

  h1{
    font-size: 50px;
}

.orange-highlight{

    color: orange;

}

.blue-highlight{

    color: rgb(14, 14, 56);
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
 }
 
 .half-width img{
     width: 80%;
 }

 .link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}