.top{
    
    font-size: 30px;
    float: right;
    color: black;
    margin: auto;
    
}
li {
    display: inline;
  }

  h1{
    font-size: 50px;
}

.orange-highlight{

    color: orange;

}

.blue-highlight{

    color: rgb(14, 14, 56);
}



.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
 }
 
 .half-width img{
     width: 80%;
 }

 section{

    
    
}
 .link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.red-highlight{
    color: rgb(255, 38, 0);

}

.about-experiences{

    
    border-radius: 5px;
    height: 80%;
    width: 90%;
    background-color: rgba(134, 130, 130, 0.281);
    text-align: center;


}


.single-experiences{

    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 10%;
    width: 20%;
   
    
    background-color: white;


}





